.body{}
li{
    list-style: none;
}
.body a{
    text-decoration: none;
}
.header{
    height: 52px;
}
.menu{
    float: left;
    margin-right: 286px;
}
.menu li{
    float: left;
    margin-right: 13px;
}
.menu li img:first-child{
    margin-top: -10px;
}
.menu li img{
}
.menu ul a{
    text-decoration: none;
    font-size: 13px;
    color: #212121;
}
.search{
    float: left;
    margin-right: 286px;
}
.search input{
    height: 36px;
    width: 450px;
    background-color: #F4F4F4;
    border: 1px solid #e2e2e2;
    font-size: 15px;
    color: #F4F4F4;
    padding-left: 17px;
}
.search button{
    display: inline-block;
    height: 36px;
    width: 46px;
    border: none;
    margin-left: -6px;
}
.search button img{
    vertical-align:middle;
    margin-left:-6px;
}
.sign {
    float: left;
}
.sign li{
    float: left;
    height: 38px;
}
.sign li img{
    margin-top: -8px;
    margin-left: -20px;
}
.sign li:first-child {
    margin-right: 2px;
}
.sign li:nth-child(2){
    margin-right: 12px;
}
.sign li:nth-child(3){
    margin-right: 14px;
}
.sign li a{
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    line-height: 15px;
    color: #212121;
}
.sign li:last-child{
    margin-top: -10px;
}
.last a{
    display: inline-block;
    color: white;
    background-color: #FB7299;
    text-align: center;
    padding: 13px 36px 13px 36px;
}
.content{}
.top{
    margin-top: -10px;
}
.t-0{
    height: 50px;
    margin-bottom: 40px;
}
.t-1{
    background-color: #DDDDDD;
    float: left;
    margin-left: 462px;
    margin-top: 25px;
    height: 1px;
    width: 431px;
}
.t-2{
    background-color:#DDDDDD;
    float: left;
    margin-top: 25px;
    height: 1px;
    width: 431px;
}
.c-top p{
    margin: 0 20px;
    float: left;
    height: 50px;
    font-size: 36px;
    color: #000000;
}
.c-0 input{
    height: 38px;
    width: 429px;
    margin-left: 742px;
    margin-bottom: 40px;
    padding-left: 10px;
    font-size: 14px;
    color: #C0C4CC;
    border-radius: 3px;
    border: 1px solid #DCDFE6;
}
.c-1{
    height: 43px;
}
.c-1 input{
    float: left;
    height: 38px;
    padding-left: 10px;
    font-size: 14px;
    color: #C0C4CC;
    border-radius: 3px;
    border: 1px solid #DCDFE6;
}
.c-1 input:first-child{
    width: 130px;
    margin-left: 742px;
}
.c-1 input:last-child{
    width: 286px;
}
.c-2{
    margin-top: 40px;
}
.c-2 input{
    height: 38px;
    width: 429px;
    margin-left: 742px;
    padding-left: 10px;
    font-size: 14px;
    color: #C0C4CC;
    border-radius: 3px;
    border: 1px solid #DCDFE6;
}
.c-2 button{
    height: 41px;
    width: 132px;
    font-size: 14px;
    color: white;
    background-color: #0CA5D8;
    margin-left: -136px;
    border: none;
    border-radius: 3px;
}
.c-3{
    height: 15px;
    margin-top: -7px;
}
.c-3 li img{
    float: left;
    margin-left: 703px;
}

.c-3 li p{
    font-size: 12px;
    color: #000000;
}
.c-3 li p>span{
    color: #00A1D6;
}
.c-4{
    height: 43px;
    margin-top: 15px;
}
.c-4 button{
    margin-left: 742px;
    height: 43px;
    width: 453px;
    background-color: #F5F5F5;
    font-size: 14px;
    color: #B8B8B8;
    border-radius: 3px;
    border: 1px solid #DCDFE6;
}
.content a{
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: #00A1D6;
    margin-left: 1078px;
}
.bottom{
    height: 200px;
    margin-top: 80px;
    background-color: #F6F9FA;
}
.bilibili{
    float: left;
    margin-top: 32px;
    border-right: 1px solid #E5E9EF;
}
.bilibili p{
    font-size: 13px;
    color: #99AAC6;
    margin-left: 332px;
}
.bilibili li{
    float: left;
    margin-right: 60px;
    margin-bottom: 15px;
}
.bilibili ul{
    margin-left: 292px;
}
.bilibili li a{
    font-size: 15px;
    color: #222222;
}
.door{
    float: left;
    margin-top: 35px;
}
.door li{
    float: left;
    margin-right: 60px;
    margin-bottom: 15px;
}
.door li a{
    font-size: 15px;
    color: #222222;
}
.door p{
    font-size: 13px;
    margin-left: 40px;
    color: #99AAC6;
}
.pic{
    float: right;
    margin-top: 35px;
    margin-right: 340px;
    border-left: 1px solid #E5E9EF;
}
.pic li{
    float: left;
}
.pic li img{
    margin-right: 27px;
}

.pic li a{
    text-decoration: none;
    text-align:center;
    font-size: 15px;
    margin-right: 27px;
    color: #222222;
}
.pic-1 li:first-child{
    margin-top: -2px;
}
.pic li a:hover{
    color: #00A1D6;
}
